body {
    font-family: 'Raleway', sans-serif;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 660px;
    animation: animate 10s ease infinite;
    background-size: 100% 100%;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(./img/bg15.jpg);
        background-attachment: fixed;
    }
    25% {
        background-image: url(./img/bg16.jpg);
        background-attachment: fixed;
    }
    50% {
        background-image: url(./img/bg17.jpg);
        background-attachment: fixed;
    }
    75% {
        background-image: url(./img/bg18.jpg);
        background-attachment: fixed;
    }
}

.headerset {
    padding-top: 580px;
    box-sizing: border-box;
}

.headerset h3 {
    font-size: 22px;
    font-weight: bold;
}

#s1 {
    height: 10px;
    display: inline-block;
    width: 100%;
}

#s2 {
    display: inline-block;
    height: 700px;
    width: 100%;
}

#s3 {
    height: 700px;
    display: inline-block;
    width: 100%;
}

#s4 {
    height: 1310px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#s5 {
    height: 400px;
    display: inline-block;
    width: 100%;
}


/*........ourservices..........*/

.services {
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    padding: 800px 0px 60px;
    height: 700px;
}

.services h1 {
    font-size: 60px;
    font-weight: bold;
}

.rowsettings {
    margin: 80px, 0px !important;
    height: 260px;
}

.cc {
    padding-top: 50px;
}

.c {
    padding-top: 20px;
}

.icon1 {
    padding-left: 100px;
    padding-top: 30px;
}

.icon2 {
    padding-left: 100px;
    padding-top: 30px;
}

.icon3 {
    padding-left: 100px;
    padding-top: 50px;
}

.icon4 {
    padding-left: 100px;
    padding-top: 50px;
}


/*..........about...........*/

.about {
    padding-top: 300px;
    height: 900px;
    overflow: hidden;
}

.about h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.about p {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    font-size: 17px;
}


/*.....project.....*/

.prjcompleted h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.prjsetting1 {
    padding-left: 50px;
    padding-top: 50px;
    margin: 150px, 0px !important;
    height: 260px;
}

.prjsetting2 {
    padding-left: 50px;
    padding-top: 150px;
    margin: 150px, 0px !important;
    height: 260px;
}


/*...........contact...........*/

.contact {
    margin-left: 50px;
    padding: 300px 0px 50px;
    height: 500px;
    font-family: 'Raleway', sans-serif;
}

.contact-list h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.contact-info h2 {
    font-size: 20px;
    font-weight: bold;
}

.contact-info h3 {
    font-size: 15px;
    font-weight: bold;
    font-weight: lighter;
}


/*..........footer..........*/

.footer {
    background: #303036;
    position: relative;
    color: #d3d3d3;
    height: 70px;
    margin-top: 400px;
    background-size: 100% 100%;
}

.footer h6 {
    text-align: center;
}