html {
    scroll-behavior: smooth;
}

.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 660px;
    animation: animate 10s ease infinite;
    background-size: 100% 100%;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(./img/bg15.jpg);
        background-attachment: fixed;
    }
    25% {
        background-image: url(./img/bg16.jpg);
        background-attachment: fixed;
    }
    50% {
        background-image: url(./img/bg17.jpg);
        background-attachment: fixed;
    }
    75% {
        background-image: url(./img/bg18.jpg);
        background-attachment: fixed;
    }
}

.headerset {
    padding-top: 580px;
    box-sizing: border-box;
}

.headerset h3 {
    font-size: 22px;
    font-weight: bold;
}

#s1 {
    padding-top: 800px;
    height: 10px;
    display: inline-block;
    width: 100%;
}

#s2 {
    display: inline-block;
    width: 100%;
}

#s3 {
    display: inline-block;
    width: 100%;
}

#s4 {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

#s5 {
    display: inline-block;
    width: 100%;
}


/*........ourservices..........*/

.services {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
    height: 700px;
    margin-bottom: auto;
}

.services h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.rowsettings {
    margin-top: 20px !important;
    height: 260px;
}

.cc {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.c {
    padding-top: 20px;
}

.icon1 {
    padding-left: 100px;
    padding-top: 30px;
}

.icon2 {
    padding-left: 100px;
    padding-top: 30px;
}

.icon3 {
    padding-left: 100px;
    padding-top: 50px;
}

.icon4 {
    padding-left: 100px;
    padding-top: 50px;
}

.imgsetting h4 {
    font-size: 42px;
}


/*..........about...........*/

.about {
    margin-top: 10px;
    padding-top: 300px;
    height: 900px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.about h1 {
    font-size: 60px;
    font-weight: bold;
}

.about p {
    padding-top: 30px;
    font-size: 17px;
}


/*.....project.....*/

.project {
    font-family: 'Raleway', sans-serif;
    height: 1100px;
    width: 100%;
    padding: 100px 0px 50px;
}

.prjcompleted h1 {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 90px;
}


/*...........contact...........*/

.contact {
    font-family: 'Raleway', sans-serif;
}

.contact-list h1 {
    font-size: 60px;
    font-weight: bold;
}

.contact-info h2 {
    font-size: 20px;
    font-weight: bold;
}

.contact-info h3 {
    font-size: 15px;
    font-weight: bold;
    font-weight: lighter;
}


/*..........footer..........*/

.footer {
    text-align: left;
    height: 10px;
    margin-top: 250px;
    background-size: 100% 100%;
}

.footer h6 {
    text-align: center;
}


/*........responsive........*/

@media(min-width:992px) {
    .headerset h2 {
        font-size: 42px;
    }
    .headerset h1 {
        font-size: 72px;
        font-weight: bold;
    }
    .services {
        height: 450px;
    }
    .about {
        padding-top: 200px;
        height: 700px;
    }
    .project {
        height: 1000px;
    }
    .contact {
        height: 400px;
        margin-left: 50px;
        padding: 200px 0px 50px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    /*medium*/
    .headerset h2 {
        font-size: 22px;
    }
    .headerset h1 {
        font-size: 42px;
        font-weight: bold;
    }
    .services {
        height: 500px;
    }
    .i {
        padding-left: 40px;
    }
    .about {
        height: 700px;
        padding-top: 200px;
    }
    .project {
        height: 900px;
    }
    .contact {
        padding-top: 10px;
        margin-top: 10px;
        padding-left: 100px;
    }
}


/*small*/

@media(min-width:575px) and (max-width:767px) {
    .headerset h2 {
        font-size: 22px;
    }
    .headerset h1 {
        font-size: 42px;
        font-weight: bold;
    }
    .services {
        height: 900px;
    }
    .about {
        /*padding-top: 700px;*/
        height: 800px;
    }
    .project {
        height: 3300px;
    }
    .contact {
        height: 100px;
        padding-top: 10px;
    }
    .i {
        padding-left: 210px;
    }
}

@media(min-width:480px) and (max-width:574px) {
    .headerset h2 {
        font-size: 22px;
    }
    .headerset h1 {
        font-size: 42px;
        font-weight: bold;
    }
    .services {
        padding-left: 40px;
        height: 1300px;
    }
    .about {
        padding-top: 100px;
        height: 700px;
    }
    .project {
        height: 2600px;
    }
    .contact {
        height: 500px;
        padding-top: 10px;
    }
    .icons {
        padding-top: 40px;
        padding-left: 155px;
    }
    .ci h2 {
        padding-left: 160px;
    }
    .cia h2 {
        padding-left: 150px;
    }
    .cia h3 {
        padding-left: 70px;
    }
    .ci h3 {
        padding-left: 130px;
    }
}

@media(min-width:281px)and(max-width:479px) {
    .headerset h2 {
        font-size: 12px;
    }
    .headerset h1 {
        font-size: 32px;
        font-weight: bold;
    }
    .services {
        padding-top: 50px;
        height: 1000px;
    }
    .services h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }
    .about {
        padding-top: 200px;
        height: 650px;
    }
    .about h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .project {
        height: 2100px;
    }
    .project h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .contact {
        height: 450px;
    }
    .contact h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .i {
        padding-left: 70px;
    }
    .icons {
        padding-top: 50px;
        padding-left: 100px;
    }
    .ci h2 {
        padding-left: 105px;
    }
    .cia h2 {
        padding-left: 100px;
    }
    .cia h3 {
        padding-left: 20px;
        text-align: center;
    }
    .ci h3 {
        padding-left: 70px;
    }
}

@media(max-width:280px) {
    .headerset h2 {
        font-size: 12px;
    }
    .headerset h1 {
        font-size: 32px;
        font-weight: bold;
    }
    .services {
        margin-left: 35px;
        padding-top: 50px;
        height: 1200px;
    }
    .services h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .i {
        margin-left: -50px;
    }
    .c {
        margin-left: 20px;
    }
    .about {
        padding-top: 200px;
        height: 750px;
    }
    .about h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .project {
        height: 1850px;
    }
    .project h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .contact {
        height: 450px;
    }
    .contact h1 {
        font-size: 40px;
        font-weight: bold;
    }
    .icons {
        padding-top: 50px;
        padding-left: 70px;
    }
    .ci h2 {
        padding-left: 75px;
    }
    .cia h2 {
        padding-left: 70px;
    }
    .cia h3 {
        padding-left: 20px;
        text-align: center;
    }
    .ci h3 {
        padding-left: 40px;
    }
}